Naufal Afthar Razzan - 2440083134 - LB07

In [5]:
import pandas as pd

pd.reset_option('all', silent = True)
df = pd.read_csv('listings.csv')
df

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,Central Region,Queenstown,1.27973,103.78751,Entire home/apt,100,3,0,NaN,NaN,31,61
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,Central Region,Tanglin,1.29269,103.82623,Entire home/apt,550,6,0,NaN,NaN,34,365
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,Central Region,Kallang,1.31286,103.85996,Private room,58,30,0,NaN,NaN,3,173
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,Central Region,River Valley,1.29543,103.83801,Private room,56,14,0,NaN,NaN,2,30
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,Central Region,River Valley,1.29672,103.83325,Private room,65,90,0,NaN,NaN,7,365

1). Extracting independent variables and dependent variables

In [6]:
# price column is the only dependent variable
df.iloc[:, :9]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room
...,...,...,...,...,...,...,...,...,...
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,Central Region,Queenstown,1.27973,103.78751,Entire home/apt
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,Central Region,Tanglin,1.29269,103.82623,Entire home/apt
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,Central Region,Kallang,1.31286,103.85996,Private room
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,Central Region,River Valley,1.29543,103.83801,Private room
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,Central Region,River Valley,1.29672,103.83325,Private room

In [7]:
df.iloc[:, 10:]

,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,180,1,2013-10-21,0.01,2,365
1,90,18,2014-12-26,0.28,1,365
2,6,20,2015-10-01,0.20,2,365
3,1,14,2019-08-11,0.15,9,353
4,1,22,2019-07-28,0.22,9,355
...,...,...,...,...,...,...
7902,3,0,NaN,NaN,31,61
7903,6,0,NaN,NaN,34,365
7904,30,0,NaN,NaN,3,173
7905,14,0,NaN,NaN,2,30
7906,90,0,NaN,NaN,7,365

In [8]:
df.iloc[:, 9]

0        83
1        81
2        69
3       206
4        94
       ...
7902    100
7903    550
7904     58
7905     56
7906     65
Name: price, Length: 7907, dtype: int64

2). handling missing data (Replacing missing data with the mean value)

In [9]:
# melihat total NaN
df.isnull().sum()

id                                   0
name                                 2
host_id                              0
host_name                            0
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2758
reviews_per_month                 2758
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [10]:
# drop kolom name yang ada NaN
df1 = df.dropna(subset = ['name'])
df1

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,Central Region,Queenstown,1.27973,103.78751,Entire home/apt,100,3,0,NaN,NaN,31,61
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,Central Region,Tanglin,1.29269,103.82623,Entire home/apt,550,6,0,NaN,NaN,34,365
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,Central Region,Kallang,1.31286,103.85996,Private room,58,30,0,NaN,NaN,3,173
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,Central Region,River Valley,1.29543,103.83801,Private room,56,14,0,NaN,NaN,2,30
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,Central Region,River Valley,1.29672,103.83325,Private room,65,90,0,NaN,NaN,7,365

In [11]:
# drop kolom last review
df1.drop('last_review', axis = 1, inplace = True)
df1

C:\Users\naufa\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,0.22,9,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,Central Region,Queenstown,1.27973,103.78751,Entire home/apt,100,3,0,NaN,31,61
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,Central Region,Tanglin,1.29269,103.82623,Entire home/apt,550,6,0,NaN,34,365
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,Central Region,Kallang,1.31286,103.85996,Private room,58,30,0,NaN,3,173
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,Central Region,River Valley,1.29543,103.83801,Private room,56,14,0,NaN,2,30
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,Central Region,River Valley,1.29672,103.83325,Private room,65,90,0,NaN,7,365

In [12]:
# ganti NaN di kolom review per month dengan mean
mean_value = df1['reviews_per_month'].mean()
df1['reviews_per_month'].fillna(value = mean_value, inplace = True)
df1

C:\Users\naufa\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,0.010000,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,0.280000,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,0.200000,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,0.150000,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,0.220000,9,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,Central Region,Queenstown,1.27973,103.78751,Entire home/apt,100,3,0,1.043854,31,61
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,Central Region,Tanglin,1.29269,103.82623,Entire home/apt,550,6,0,1.043854,34,365
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,Central Region,Kallang,1.31286,103.85996,Private room,58,30,0,1.043854,3,173
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,Central Region,River Valley,1.29543,103.83801,Private room,56,14,0,1.043854,2,30
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,Central Region,River Valley,1.29672,103.83325,Private room,65,90,0,1.043854,7,365

3). Encoding Categorical data for neighbourhood_group variable and room_type variable

In [13]:
from sklearn.preprocessing import LabelEncoder
# x -> neighbourhood_group, y -> room_type
x = y = LabelEncoder()
df1.iloc[:, 4] = x.fit_transform(df1.iloc[:, 4])
df1.iloc[:, 8] = y.fit_transform(df1.iloc[:, 8])

df1

C:\Users\naufa\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,2,Woodlands,1.44255,103.79580,1,83,180,1,0.010000,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,0,Bukit Timah,1.33235,103.78521,1,81,90,18,0.280000,1,365
2,56334,COZICOMFORT,266763,Francesca,2,Woodlands,1.44246,103.79667,1,69,6,20,0.200000,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,1,Tampines,1.34541,103.95712,1,206,1,14,0.150000,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,1,Tampines,1.34567,103.95963,1,94,1,22,0.220000,9,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,0,Queenstown,1.27973,103.78751,0,100,3,0,1.043854,31,61
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,0,Tanglin,1.29269,103.82623,0,550,6,0,1.043854,34,365
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,0,Kallang,1.31286,103.85996,1,58,30,0,1.043854,3,173
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,0,River Valley,1.29543,103.83801,1,56,14,0,1.043854,2,30
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,0,River Valley,1.29672,103.83325,1,65,90,0,1.043854,7,365

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
# ct1 -> x, ct2 -> y
ct1 = ColumnTransformer(transformers = [('en1', OneHotEncoder(), [4])], remainder = 'passthrough')
ct2 = ColumnTransformer(transformers = [('en2', OneHotEncoder(), [8])], remainder = 'passthrough')

df2 = ct1.fit_transform(df1) 
df2 = ct2.fit_transform(df1)

df2 = pd.DataFrame(df2)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0,1.0,0.0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,2,Woodlands,1.44255,103.7958,83,180,1,0.01,2,365
1,0.0,1.0,0.0,50646,Pleasant Room along Bukit Timah,227796,Sujatha,0,Bukit Timah,1.33235,103.78521,81,90,18,0.28,1,365
2,0.0,1.0,0.0,56334,COZICOMFORT,266763,Francesca,2,Woodlands,1.44246,103.79667,69,6,20,0.2,2,365
3,0.0,1.0,0.0,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,1,Tampines,1.34541,103.95712,206,1,14,0.15,9,353
4,0.0,1.0,0.0,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,1,Tampines,1.34567,103.95963,94,1,22,0.22,9,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7900,1.0,0.0,0.0,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,0,Queenstown,1.27973,103.78751,100,3,0,1.043854,31,61
7901,1.0,0.0,0.0,38108273,3bedroom luxury at Orchard,238891646,Neha,0,Tanglin,1.29269,103.82623,550,6,0,1.043854,34,365
7902,0.0,1.0,0.0,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,0,Kallang,1.31286,103.85996,58,30,0,1.043854,3,173
7903,0.0,1.0,0.0,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,0,River Valley,1.29543,103.83801,56,14,0,1.043854,2,30
7904,0.0,1.0,0.0,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,0,River Valley,1.29672,103.83325,65,90,0,1.043854,7,365

4). Splitting the Dataset into the Training set and Test set

In [25]:
x = df1[['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']]
y = df1['price']

In [27]:
x

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,2,Woodlands,1.44255,103.79580,1,180,1,0.010000,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,0,Bukit Timah,1.33235,103.78521,1,90,18,0.280000,1,365
2,56334,COZICOMFORT,266763,Francesca,2,Woodlands,1.44246,103.79667,1,6,20,0.200000,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,1,Tampines,1.34541,103.95712,1,1,14,0.150000,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,1,Tampines,1.34567,103.95963,1,1,22,0.220000,9,355
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,0,Queenstown,1.27973,103.78751,0,3,0,1.043854,31,61
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,0,Tanglin,1.29269,103.82623,0,6,0,1.043854,34,365
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,0,Kallang,1.31286,103.85996,1,30,0,1.043854,3,173
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,0,River Valley,1.29543,103.83801,1,14,0,1.043854,2,30
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,0,River Valley,1.29672,103.83325,1,90,0,1.043854,7,365

In [29]:
y

0        83
1        81
2        69
3       206
4        94
       ...
7902    100
7903    550
7904     58
7905     56
7906     65
Name: price, Length: 7905, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25) # training set:test set = 75%:25%

5). Print x_train, x_test, y_train, y_test

In [33]:
x_train

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
4289,26545297,1 Bedroom @ Bugis SsP,29420853,Aaron,0,Rochor,1.29974,103.85025,0,10,2,0.160000,141,260
7272,36013087,Luxury 2BR Condo in Dhoby Ghaut Orchard,39207304,Sophie,0,Museum,1.29979,103.84472,0,7,2,1.250000,12,79
4960,29180163,(WHOLE HOUSE) Breezy Comfy Accomodation.,128465640,Azlan,2,Woodlands,1.44787,103.79849,0,62,0,1.043854,2,365
1309,11496278,西部 豪华公寓 整套3房间(长租)looking long team,52494253,Lotus,4,Choa Chu Kang,1.39995,103.74972,0,30,6,0.140000,2,0
2616,19004563,"Luxury Condominium with 2 lap pools, Gym & Mall.",132594542,Sam Teo,3,Serangoon,1.38762,103.87003,0,2,0,1.043854,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,8626676,Beary's 6 Bed Mixed Dorm (Per Bed),45368183,Beary Best Hostel,0,Outram,1.28365,103.84637,2,1,15,0.340000,9,360
7331,36238267,Private room 5 min walk to MRT (Downtown line),58558297,Tricia,4,Bukit Panjang,1.37099,103.76914,1,7,0,1.043854,2,62
4466,27476632,***3BR new cosy kallang area unit,8492007,Alvin,0,Geylang,1.31162,103.87669,0,2,1,0.080000,203,333
396,5233415,Furnished CBD Serviced Studio w MRT,13468566,Andy,0,Bukit Merah,1.27599,103.84060,0,6,6,0.120000,4,340
2507,18416274,Common room near clementi MRT,27807024,David,4,Clementi,1.31848,103.75215,1,1,0,1.043854,1,331

In [35]:
x_test

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
7580,37261000,1 Bed Room Little India experience,234870042,Kevin,0,Kallang,1.31606,103.85635,0,3,0,1.043854,28,334
3614,23134898,Cheap Cozy and Spacious Home (Common Room) :),11280282,Chester,1,Pasir Ris,1.37066,103.96204,1,1,4,0.220000,2,0
3411,22254514,Perfect for Single Travelers B,114571845,Alex,0,Downtown Core,1.29770,103.85560,0,1,3,0.170000,3,290
6271,33320480,☀ HUGE & MODERN 2BR w/ QUEEN SIZE BED FOR STAY ☀,219550151,Rain,0,Kallang,1.32174,103.86343,0,7,3,0.690000,113,115
2002,16005440,Single bedroom in Condo,10855869,George,3,Punggol,1.39730,103.91393,1,1,0,1.043854,1,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6929,34964444,selfcheckin singlebed *roomCC @ aljunied near MRT,201775246,Hillary,0,Geylang,1.31588,103.88198,1,18,1,0.510000,48,359
4454,27424215,Not available any more house sold,191336118,Ed Ian,1,Bedok,1.33025,103.90945,1,3,2,0.150000,1,346
6944,34983687,Central location for rent,45425016,Dt,0,Geylang,1.31756,103.88814,0,90,0,1.043854,2,270
4041,25015675,2 Bedroom Luxury Duplex Penthouse near MRT,153225818,Anna,0,Kallang,1.31557,103.85522,0,2,2,0.150000,2,0
7367,36414224,Beautiful rooms Modern condo in East Coast,115509710,Megy,1,Bedok,1.31342,103.93945,1,1,0,1.043854,1,56

In [37]:
y_train

4289    131
7272    369
4960     56
1309    150
2616    110
       ...
907      32
7331     56
4466    287
396     158
2507     50
Name: price, Length: 5928, dtype: int64

In [38]:
y_test

7580    169
3614     37
3411     87
6271    199
2002     58
       ...
6929     39
4454     50
6944    169
4041    235
7367     60
Name: price, Length: 1977, dtype: int64